:root {
  --color-white: #fff;
  --color-brown: #573116;
  --color-blue: #2196F3;
  --color-green: #4CAF50;
  --color-orange: #FF9800;
  --color-red: #F44336;
  --color-yellow: #FFEB3B;
  --color-pink: #FFC0CB;
  --color-purple: #9C27B0;
  --color-gray: #666;
  --color-shape-background: #eee;
  --color-shadow: rgba(100, 100, 100, 0.2);
  --color-blue-shadow: rgba(33, 150, 243, 0.3);
  --color-green-shadow: rgba(76, 175, 80, 0.3);
  --color-orange-shadow: rgba(255, 152, 0, 0.3);
  --color-red-shadow: rgba(244, 67, 54, 0.3);
} 